<settings>
    <interactiveMode>false</interactiveMode>
    <profiles>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <sonar.host.url>http://sonarqube.cicd-tools.svc.cluster.local:9000</sonar.host.url>
                <sonar.dependencyCheck.jsonReportPath>target/dependency-check-report.json</sonar.dependencyCheck.jsonReportPath>
                <sonar.java.pmd.reportPaths>target/pmd.xml</sonar.java.pmd.reportPaths>
                <sonar.java.checkstyle.reportPaths>target/checkstyle-result.xml</sonar.java.checkstyle.reportPaths>
            </properties>
        </profile>
        <profile>
            <id>openshift</id>
            <properties>
                <fabric8.namespace>app</fabric8.namespace>
            </properties>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>sonar</activeProfile>
        <activeProfile>coverage</activeProfile>
        <activeProfile>openshift</activeProfile>
    </activeProfiles>
</settings>